
 header{
     margin-top: 140px;
 }

#mainBoxHead{
    margin-left: 300px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%)
    
}

#imgBox{
    margin-left: 80px;
    
}

img{
    height: 150px;
    width: 150px;

}

#name {
    margin-left: 30px;
    font-size: 35px;
    
}

#title{
    font-size: 28px;
   
}

aside{
    height: auto;
    width: 350px;
    padding-left: 15px;
    margin-left: 50px;
    
}

a{
    text-decoration: none;
    color: rgb(59, 57, 57);
    font-size: 23px;
}

.asideT{
    font-family: 'Charm', cursive;
    margin-left: 5px;
    font-size: 30px;
}

.fa-circle{
 font-size: 11px;
}

.subAside{
   
    font-size: 27px;
}

.second{
    
    height: auto;
    margin-right: 50px;
    
}

.contentOf{
    padding-left: 40px;
    border-left: 2px solid black;
}

.fanS{
    font-size: 23px;
}

.nom{
    font-size:26px; 
    font-family: 'Charm', cursive; 
 
}

.nom1{
    font-size: 24px; 
    font-family: 'Charm', cursive; 
}

.topic{
    font-family: 'Charm', cursive;
    
    font-size:30px; 
}

.insName{
    font-family: 'Charm', cursive;
    font-size: 28; 

}